@charset "UTF-8";

@font-face { 
    font-family: GOTfont;             /*Se consiguio el estilo GOT para los titulos*/
    src: url('fuentes/GOT.ttf');  /* se referencio de forma normal*/
}

@font-face { 
    font-family: AncizarSans;             /*Fuente AncizarSans estandar*/
    src: url('fonts/Ancizar-Sans-Regular');  
}


body {      /* Para el cuerpo del sitio se define color de fondo, imagen de base*/                   
	background-color:#afafac;                    
	background-image: url(imagenes/found.jpg);
	background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
}



a:hover {    /* Para los botones: se le aplica un tono blanco amarillento a la letra para cuando el cursor este sobre el boton*/ 
	color: lightyellow;
    text-shadow: 2px 2px black;
}





.divelem{
    border: 15px solid lightyellow;
}

.menunav {    /* se ajustan ancho y calibración de posición para el espacio de botones de navegación */ 
	width: 860px;  /* estilo para el menu de navegación */ 
	margin: auto;
	align-self: center;
}
.botonMenu {      /* Botones con tema GOT y varios ajustes de posición para la letra */ 
	font-family: GOTfont;  
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	width: 160px;
    height: 30px;
    text-decoration: none;
    padding:5px 10x 6px 8px;
	float: left;
    color: rgb(210, 210, 210); /*tono para las letras y diseño de bordes curvos y ubicación de ciertos márgenes*/
    text-shadow: none;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 40px;
    margin-left: 5px;
}
.botonMenu:hover {/*En caso de colocar el cursor sobre el boton se cambia de fondo*/
	color: rgb(255, 238, 0);
    text-shadow: none;
	cursor:pointer;
}  

/* estilo para los titulares */ 
h1{     
	font-family: GOTfont;  /* Estilo de letra para Títulos de mayor tamaño*/
	color:rgb(1, 1, 1);
	font-size: 45px; /*ajustes en la fuente y ciertas características decorativas como sombras y alineación*/
	font-weight: bold;
	text-shadow: 4px 4px rgb(125, 125, 125);
	text-align: center;
    text-decoration: none;
    
	max-width: 800px; /*limites para el párrafo y letras*/
    margin: auto;
	margin-top: 30px;        
	margin-bottom:60px;
    background-image: radial-gradient(rgb(159, 159, 159),rgb(255, 255, 255)); 
    border-style: groove;
    border-color: rgb(0, 0, 0);
    border-width: thick;
    border-radius: 15px 15px 15px 15px;
} 
h1:link {
	color:#0b0b0b;
	cursor: pointer;
    font-size: 30px;
	text-decoration: none;  /* No se hicieron cambios en esta zona*/ 
}

.aelem1{/*Característias visuales para el titulo de la pagina*/
    color: rgb(58, 58, 58);
    font-size: 45px;
    text-shadow: 4px 4px rgb(161, 160, 160);
    text-decoration: none;
    margin: auto;    
}




h2 {
	font-family: AncizarSans;  /*Diseño general para párrafos con una letra por defecto y ciertos elementos de decoración*/
	color:#e2e2e2;
	font-size: 24px;
	font-weight: normal;
	text-shadow: 1px 1px #000000;
	text-align: left;
	max-width: 720px;
	margin:auto;
	padding:10px 10px 2px 10px;  /* arriba, derecha, abajo, izquierda */
}
    .contenido { /*Estructura personalizada para los párrafos, es esta la unica que es visible de los estilos hechos si no hay errores*/
	position: relative;
	left: 10px;
    width: 720px;
    margin: auto;
    margin-top: 60px;
    background-color: rgb(235, 235, 235);
    padding-left: 20px;
    padding-right: 20px;    /*Es en este espacio en donde se ajustan los colocres, formas y bordes que van a recubrir el párrafo*/
    border-radius: 10px;
    border-width: thick;
    border-style: groove;   /*Decoración al estilo del fondo de donuts y permite una mejor visualización de las letras*/
    border-color: rgb(35, 35, 35);
    height: auto;
    word-wrap: break-word;
}

.Letras{  /*Formato de letras para párrafos, color azul y con fuente comun*/
    font-family: AncizarSans;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    color: rgb(73, 73, 73);
}
.Letras2{ /*Formato de letras para titulos locales, tamaño de letra mayor y tema*/
    font-family: AncizarSans;
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
    text-align: auto;
    color: rgb(73, 73, 73)}

.Letras3{ /*Formato deletras para subtitulos locales, letra un poco mayor a la de parrafos y tema*/
    font-family: GOTfont;
    font-size: 26px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(73, 73, 73)}

/*Formatos de fotos para las imagenes en los distintos html, ajustan fotos según estan en párrafos, no o necesiten alguna caracteristica*/
.foto { /*caracteristicas para fotos externas a parrafos, proposito general*/
	position: relative;	
    max-width: 90%;
    margin: auto;
    align-self: center;
    margin-bottom: 30px;
}
.foto2 { /*caracteristicas para fotos externas a parrafos, al final no se uso*/
	position: relative;	
    /*max-width: 170px;*/
    width: 240px;
    margin-right: 10px;
    margin-bottom: 5px;
    top: 5px;
    float: left;
}
.foto3 { /*caracteristicas para fotos externas a parrafos, proposito general*/
	position: relative;	
    width: 25%;
    margin: auto;
    align-self: center;
    margin-bottom: 10px;
    margin-right: 15%;
}
.foto4 { /*caracteristicas para fotos externas a parrafos, proposito general*/
	position: relative;	
    width: 55%;
    margin: auto;
    align-self: center;
    margin-bottom: 10px;
}
.foto5 { /*caracteristicas para fotos externas a parrafos, proposito general*/
	position: relative;	
    width: 100%;
    margin: auto;
    align-self: center;
    margin-bottom: 10px;
}

.div{
    margin-top: 70px;
}
.uno {  /*Formato para imagenes dentro de parrafos, realiza ajustes para que el parrafo quede inmediato a la imagen*/
	position: relative;
	width:80%;
    height:40%;
	top: auto;
    align-self: center;
	margin:auto;  /* margen igual a izquierda y derecha */
    margin-top: 30px;
    margin-bottom: 30px;  /* solo si se suministra el archivo de la fuente */
	color:#FFFFFF;
    text-align: center;
	text-shadow: 1px 1px #000000;
}

/*Elementos de esta linea para abajo NO se utilizaron-----------------------------------------------------------------------*/
.dos {
	position: relative;
	max-width:640px;
	top: 20px;
	box-shadow: 15px 15px 5px 0 rgba(0, 0, 0, 0.5); /* r, g, b, alfa (transparencia) */
	margin: auto;
}
.tres {
	position: relative;
	float: left;
	top: 5px;
	box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5); /* r, g, b, alfa (transparencia) */
	margin-right: 20px;
	margin-bottom: 10px;
}
 
ul {        /* estilo para las listas */ 
	list-style-type: none;    /* quita los "bullit lists" de las listas  */ 
	margin: -2px 0px -60px -40px;  /* arriba, derecha, abajo, izquierda */
}







/**Propiedades para el menú deslizante, el boton de ocultar en caso de necesitarse y reacionado, personalizado y ajustado con valores provenientes de menuboton antiguo*/
#btn-menu {
    display: none;   /* oculta el checkbox cuando no es necesario*/
} 
header {
    width: 100%;
	z-index: 10;	/* coloca el checkbox por encima del contenido*/
} 
header label {     /* coloca el checkbox en un lugar y tamaño exactos*/
    display: none;
    width: 26px;
    height: 26px;
    position: absolute;
    left: 20px;
    top: 150px;
    background-color: rgba(91, 150, 150, 0);
} 
header label:hover {
    cursor: pointer;    /* cambia el cursor sobre el checkbox para indicar la interacción*/
    background-color: rgb(255, 238, 0);;
}

    .menu ul{ /*Este es el manejo del area donde va el menu de navegación*/
    width: 900px;
    margin:auto;
    align-self: center;
    list-style: none;     /* para evitar los bullit list en la lista*/
    padding: 0;
    display: flex;
    
}
    .menu li{/*modificación de apariencia y funcion de los botones*/
    background-repeat: no-repeat; /* evita que se repita la imagen aunque cambie el tamaño*/
    width: 160px;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    font-size: 14px;
	text-align: center;
    color: antiquewhite;
    text-decoration: none; 
    margin-bottom: 10px;
    padding:5px 10x 6px 8px;
	float: left;
    text-shadow: none;
    border-radius: 5px 5px 5px 5px;
        
} 
    .menu li a {/*modificacion del interior de los botones*/
    display: block;
    font-family: GOTfont;
    text-align: center;
    color: antiquewhite;
    text-decoration: none;    
    padding-top: 6px;  
    margin-bottom: 12px;
}
    .menu li a:hover {/*Apariencia cuando de coloca encima el cursor*/
    color:aliceblue;
	text-shadow: 1px 1px #000000;
    background-repeat: no-repeat;
    height: 30px;
    text-shadow: none;
    border-radius: 13px 13px 13px 13px;
}  





































/* Ajustes de parámetros en caso de que la ventana mida menos de 1200px */
@media only screen and (max-width: 1200px) {
    body {
    background-color: #255025;
}
    .menunav {
    max-width:500px;  /* esto es para que la primera fila tenga máximo tres botones*/
        align-items: center;
}
    
    /*e realizaron ajustes para acomodar imágenes, texto, elementos fuera de párrafos y titulos*/
    h1{
	font-size: 20px;
	text-align: center;
}
    h2 {
	font-family: GOTfont;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	color: #CCCC33;
	text-align: left;
    max-width: 250px;
}
    .fondo {  
    background-color: #255025;
    min-width: 500px;
    max-width: 860px;
    margin: auto;  /* márgenes izquierdo y derecho iguales para centrar*/
}
    .texto {
	font-size: 17px;
	color:#FFFFFF;
    text-align: left;
    line-height: 1.4;
    max-width:600px;
	margin:1px;
    margin-right:10px;    
}
    .texto2 {
	font-size: 17px;
	color:#FFFFFF;
    text-align: left;
    line-height: 1.4;
    min-width:550px;
    max-width: 700px;
	margin:1px;
    margin-right:10px;    
}
    .texto3 {
	font-size: 17px;
	color:#FFFFFF;
    text-align: left;
    line-height: 1.4;
    min-width:550px;
    max-width: 700px;
	margin:1px;
    margin-right:10px;    
}
    .contenido{
        width: 70%;
        margin-top: 50px;
    }
    .menu ul{
        width: 80%;
    }
    .menu li{
        margin-left: 0.5%;
        margin-right: 0.5%;
    }
    .aelem1{
        font-size: 38px;
    }
    .foto2{
        width: 40%;
        height: 40%;
    }
}





/* Ajuste de parámetros en caso que la ventana mida menos de 800px */
/*Se colocó el valor mínimo de 480px por limite inferior y evitar resoluciones mas bajas*/
@media only screen and (max-width: 800px) and (min-width:480px) {
    body {
    background-color: #255025;
}
    .texto {
    font-family: AncizarSans;
	font-size: 18px;
    line-height: 1.7; /* se recomienda aumentar el interlineado y no usar serifas en pantallas pequeñas*/
    width:90%;
    min-width:250px;
}
    .texto2 {
    font-family: AncizarSans;
	font-size: 18px;
    line-height: 1.7;
    width:90%;
    min-width:250px;
}
    .texto3 {
    font-family: AncizarSans;
	font-size: 18px;
    line-height: 1.7;
    width:90%;
    min-width:250px;
}
    .menunav {
    max-width:460px;  /* esto es para que la primera fila tenga máximo dos botones*/
}
     header label{
        display: block; /* se muestra el checkbox cuando se reduce la ventana*/
    } 
    .menu {
        position: fixed;  /* sostiene la posición aunque se haga scroll en el contenido */
        background: rgba(0.5, 0.5, 0.5, 0.2); /* rojo, verde, azul, alpha (transparencia) */
		z-index: 30; /* para asegurar que el menu esta por encima de todo lo demás*/
        width: 40%; /* se refiere al ancho del fondo del menu y no a los botones */
        margin-left: -60%; /* se oculta porque se coloca por fuera de la ventana*/
		margin-top: 4px;
        transition: all 2s;   /* la animación de desplegar el menu dura 1 segundo*/
    } 
    .menu ul {
        flex-direction: column;  /* se despliega en sentido vertical*/
    } 
    .menu li {
    font-family: AncizarSans;
    }
    #btn-menu:checked ~ .menu {  /* el checkbox controla las dos posiciones del menu */
        margin: 1px; 
    } 
    h1 {
	font-size: 26px;
    }
    h2 {
    font-size: 10px;    
    }
    .foto {
	width: 400px;
    }
    .contenido{
        /*width: 400px;*/
        font-size: 30px;
    }
    #map{
        min-width: 480px;
    }
    .aelem1{
       font-size: 32px;
    }
    .Letras{
        font-size: 16px;
    }
    .foto2{
        width: 50%;
    }
}


.contenido3 { /*Segundo estructura personalizada para los párrafos, en caso de necesitar cambios en los párrafos*/
	position: relative;
	left: 10px;
    width: 50%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: rgb(235,235,235);
    padding-left: 20px;
    padding-right: 20px;    /*Es en este espacio en donde se ajustan los colocres, formas y bordes que van a recubrir el párrafo*/
    border-radius: 10px;
    border-width: thick;
    border-style: groove;   /*Decoración al estilo del fondo de donuts y permite una mejor visualización de las letras*/
    border-color:rgb(35,35,35);
}